*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    overflow: hidden;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.nav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    color: white;
    text-decoration: none;
}

#heading{
    padding: 3% 0;
    opacity: 0.5;
    line-height: 1;
    margin-top: 30px;
    margin-left: 30px;
}

#heading h1{
    font-size: 10vw;
}


/* #h1-2{
    margin-left: 20%;
} */

.block-text{
    margin-left: 20%;
    width: fit-content;
    /* display: block; */
    color: red;
}

.block-text h5{
    text-align: right;
    color: white;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#heading-2{
    margin: 2vw 0;
    
    text-align: right;
    margin-right: 20px;
    /* background-color: aliceblue; */
}

#heading-2 h5{
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 1vw;
    font-weight: 300;
}

#hero-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 5%;
}

#hero-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
}

#hero-footer #iconset{
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
}
#iconset .cricle{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    /* gap: 13px; */
    justify-content: center;
    align-items: center;

}

/* SECOND */
#second{
    background-color: black;
    width: 100%;
    padding: 10% 5%;
    padding-right: 14vw;
    max-width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#second .element{
    width: 100%;
    height: 30vh;
    color: #fff;
    border-top: 1px solid #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 14vw; */
    font-weight: 500;
    opacity: 0.7;
    position: relative;
}

.element h1{
    font-size: 2.5vw;
    font-weight: 400;
}

.element h6{
    font-size: 1.02vw;
    font-weight: 400;
}

#second .elemLast{
    border-bottom: 1px solid #777;
}


.element img{
    width: fit-content;
    height: 100%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%) scale(0);
    transition: all linear 0.5s;
    transform-style: preserve-3d;
    mix-blend-mode: difference;
}

.about{
    /* position: relative; */
    background-color: black;
    width: 100%;
    padding: 20vh 10vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30vw;
}

.about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about .about-text{
    width: 30rem;
}

.about-text h5{
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-text p{
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.7;
}

.about-text a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 100px;
    color: #fff;
}

.about-text a:hover{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 100px;
    color: black;
    background-color: white;
    transition: all ease-in-out 0.5s;
}


#subscribe{
    background-color: black;
    padding: 3vh 3vw;
    color: white;
    padding-bottom: 10vh;
}

#subscribe h5{
    opacity: 0.7;
    text-transform: uppercase;
}

#subscribe a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

#footer #footer-right{
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: 500;
}

#footer #footer-left{
    display: flex;
    gap: 30px;
}

#footer-left h4{
    font-size: 14px;
    font-weight: 500;
}



